body {background-color: #DABDA1;}
h1 {color: #FCFAF7; font-family: Helvetica; font-size: 48px}
p {color: #5D503E; font-family: Arial; font-size: 24px}
img{margin-left: 100px; border-color: white; }
ol{color: #764343}
a{color: #4387A3 ; text text-decoration: none;}
a:visited{color: #FF4DE3
